/* Define --main-bg-color here */
.container {
    --main-bg-color: cornflowerblue;
  }
  
  /* For each class, set some colors */
  .one {
    background-color: var(--main-bg-color);
  }
  .two {
    color: black;
    background-color: aquamarine;
  }
  .three {
    background-color: var(--main-bg-color);
  }
  .four {
    background-color: var(--main-bg-color);
  }
  .five {
    background-color: var(--main-bg-color);
  }
  