.wrapper {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    margin: 0 auto;
    width: 500px;
    background-color: rgb(103, 57, 0);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    align-items: end;
}
.wrapper div {
    background-color: rgb(211, 135, 43);
    border: 2px solid rgb(155, 80, 0);
    border-radius: 5px;
    color: rgb(219, 76, 20);
    padding: 15px;
}
.box1 {
    align-self: stretch;
}
.box2 {
    align-self: flex-start;
}